@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
html,body{
    background-color: #10213F;
    height: 100vh;
    width: 100vw;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    transition: width .3s height .3s;
    transition-timing-function: ease;
}
section#login>div#foto{
    background: #10213F url(../imagens/pexels-pixabay-248921.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}
section#login>div#formulario{
    padding: 10px ;
    display: block;
}